{% extends 'base.html' %}
{% block title %}Lista de tarefas {% endblock %}
{% block content %}
<div class="offset-1 col-10 list-div">
  <h1> Lista de Tarefas </h1>
  <a href="/adicionartarefa/">
      <div class="col-2 add-div">
        <i class="fas fa-plus"></i> Nova
      </div>
  </a>
  <div class="col-9 search-div">
    <input class="form-control" type="text" id="busca" name="busca" placeholder="Digite o nome da tarefa para buscar">
    <i class="fas fa-search"></i>
  </div>

  <!-- Comando para imprimir mensagens -->
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <!-- Comando para imprimir mensagens -->

  <ul class="task-list">
    {% for tarefa in tarefas %}
    <li class="task-item">
      <span><a href="/tarefa/{{tarefa.id}}"> {{tarefa.titulo}} </a></span>
      <a href="/deletar/{{tarefa.id}}"> <span><i class="fas fa-trash"></i></span></a>
      <a href="/editar/{{tarefa.id}}"><span><i class="fas fa-edit"></i></span></a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}